* {
    font-family: 'Segoe UI', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 18px;
}

:root {
   --margin: 20px;
   --main-color: #b84141;
}

header, .timer-container, .todo-list-container, footer {
    box-shadow: -5px -5px 35px rgba(255, 252, 252, 0.1),
                5px 5px 35px rgba(255, 252, 252, 0.1);;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    width: 100vw;
    height: 7dvh;
    background-color: var(--main-color);
    margin-bottom: var(--margin);
    border-bottom: 2px solid #fa0000;
}

h1 {
    font-size: 30px;
}

body {
    display: grid;
    justify-items: center;
    background: #1e1e1e;
    color: white;
    height: 100dvh;
    width: 100vw;
}

main {
    height: 90dvh;
    width: 50vw;
}

.timer-container, .todo-list-container, footer {
    background-color: #222121;
    width: 50vw;
    border-radius: 20px;
    padding: 15px;
}

.timer-container {
    margin-bottom: var(--margin);
    display: grid;
    justify-items: center;
    background-color: var(--main-color);
    -webkit-user-select: none;
    user-select: none;
}

.todo-list-container {
    margin-bottom: var(--margin);
}

footer {
    margin-bottom: var(--margin);
}

.settings-and-other-buttons {
    width: 46vw;
    height: 4dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7px;
}

.timer {
    width: 46vw;
    height: 7dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.timer, .timer span {
    font-size: 70px;
}

.start, .stop {
    width: 14vw;
}

.start {
    margin-right: 15px;
}

.todo-list-input {
    width: 48vw;
    height: 4dvh;
    border-radius: 10px;
}

.todo-list, .todo-completed {
    width: 48vw;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 0 0 0;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    color: #1e1e1e;
    padding: 7px;
    margin-top: 10px;
    border-radius: 10px;

}

.text {
    font-size: 13px;
}

.todo-button {
    width: 30px;
    height: 25px;
    padding: 5px 0;
    font-size: 12px;
}

footer, .settings {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secret-slide {
    margin: 0 20px;
    display: none;
}

.panel {
    position: absolute;
    top: 25dvh;
    width: 450px;
    background-color: #1e1e1e;
    padding: 20px;
    height: 50dvh;
    justify-items: center;
    border: white 2px solid;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}